@use "../../../css/theme" as *;

.background{
  @include grid-center;
  width: 50%;
  background-color: $background;
  border: thin solid $border-color;
  box-shadow: $box-shadow;
  border-radius: 4px;
}

.form{
  padding: 2rem 6rem;
}

.heading{
  color: $first-color;
}

.errorMessage{
  @include error-message;
}

.inputGroup{
  @include inputGroup;
}

.buttonGroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}